.marteau-1 
    fill: none
    stroke: #182240
    stroke-miterlimit: 10


.marteau-2 
    fill: #f3c14d


.marteau-3 
    fill: #eddeeb


.marteau-4 
    fill: #237ab5


.marteau-5 
    fill: #182240


.marteau-6 
    fill: #c12934

